[3.x] Underscore in domain name

I just tried to add to my hosts file the line `127.0.0.1 local_host` and it works for latest versions of Opera, Chrome, Firefox and IE, but your component throws the Exception `Invalid host label, check its content`.
That's because [Components\Host::isValidHostPattern()](https://github.com/thephpleague/url/blob/3.3.2/src/Components/Host.php#L127) does not accepts domains containing underscores.
I know that there are compatibility problems with old IE versions, but I think that it should not throw an exception if someone really wants to have domain names containing underscores...

according to [RFC3986](http://tools.ietf.org/html/rfc3986#section-3.2.2), Host domain can not contain "_" underscore .. this is not a bug in League\Url.

>  A registered name intended for lookup in the DNS uses the syntax defined in Section 3.5 of [RFC1034] and Section 2.1 of [RFC1123].  Such a name consists of a sequence of domain labels separated by ".",  each domain label starting and ending with an alphanumeric character
   and possibly also containing "-" characters.  The rightmost domain label of a fully qualified domain name in DNS may be followed by a single "." and should be if it is necessary to distinguish between
   the complete domain name and some local domain.


Yes, I agree that the RFC says that we can't have underscores in host names.
BTW it's working for all the major browsers...
So, the question is: should we strictly follow RFCs or should we take a pragmatic approach and allow underscores? I don't know...

I think that browsers do accept them because **modern browsers resolve domain names not just host names**. Host names are a subset of domain names so I don't see why we should relax the host name validation ? URLs use host names not domain names.

Bottom line, I think this is not a implementation problem but an education one. If someone has been mislead for many years we should try to correct his/her mistakes not endorse them.

Agreed.
There's another problem though: we're start seeing utf-8 domain names... And that absolutely won't work with your (great) component...

v4 has IDN support but is a major departure from v3 you can have a preview of how it works in http://url.thephpleague.com/dev-master/
Of course feedbacks are welcomed

I raised this issue because it has been raised by a concrete5 user, and concrete5 requires php 5.3 whereas v4 will require php 5.4...

granted .. but 3.x also supports IDN  since version 3.1
http://url.thephpleague.com/3.0/components/host/

> granted .. but 3.x also supports IDN since version 3.1

Great, I didn't knew it.

> Bottom line, I think this is not a implementation problem but an education one. If someone has been mislead for many years we should try to correct his/her mistakes not endorse them.

I'll tell the concrete5 user that he may want to change his domain name.

Thank you!